* {
  margin: 0px;
}
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 13px solid #2a3241;
  border-radius: 25px;
  width: 300px;
  height: 500px;
  padding: 20px;
  background-color: #4b5c80;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.board h2 {
  font-size: 40px;
  color: #8f939b;
}

.board h4 {
  font-size: 18px;
  color: #ffffff;
}
.board h3 {
  font-size: 30px;
  color: #ffffff;
}

.numberManipulator {
  display: flex;
  align-items: center;
}

.num {
  font-size: 80px;
  color: #ffffff;
}

.numberManipulator button {
  padding: 10px 20px;
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 700;
  cursor: pointer;
  border: #414b60 solid 2px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #414b60;
  transition: all 0.3s ease;
}

.numberManipulator button:hover {
  background-color: #414b60;
  color: #ffffff;
}

.numberManipulator button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.stepsCounter {
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
}
.scores {
  font-size: 24px;
  color: #8f939b;
}
